<!-- Footer -->
<footer class="footer footer-center p-4 bg-base-300 p-10">
  <div class="grid gap-4 grid-cols-1 md:grid-cols-3 items-center">
    <div class="text-center md:text-left">
      <p class="text-xs text-base-content/70">
        &copy; <span id="footer-year">{% year %}</span> All rights reserved.
      </p>
    </div>
    <div class="text-center">
      <p class="text-xs text-base-content/70 flex justify-center items-center">
        Built with 
      </p>
      <p class="text-xs text-base-content/70">
        <a href="https://11ty.dev">Eleventy v{{ eleventy.version }}</a>
      </p>
    </div>
    <div class="text-center md:text-right">
      <p class="text-xs text-base-content/70">
         Source Code Version: 
      </p>
      <p>
        <a href="https://github.com/MadJalapeno/jalapeno.co.uk" target="_blank" rel="noopener noreferrer" class="text-xs text-base-content/70">
        {{ buildInfo }}
        </a>
      </p>
    </div>
  </div>
</footer>

<!-- Footer end -->