<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>{{ title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="generator" content="" />
    <meta name="description" content="{{ description }}" />
    {#
    <script defer src="https://umami.my9.uk/script.js" data-website-id="a9112563-34ef-4779-92ee-51a33f3920b5"></script>
#}
    <link rel="stylesheet" href="/assets/css/tailwind.css" />
    <link rel="icon" href="/assets/svg/jalapeno-logo.svg" type="image/svg+xml" />
    <script src="https://10w.us/api/script.js" data-site-id="1" defer></script>
    <!--
    debugging info
    =============================
      site.name:  {{ site.name }}
      site.url:   {{ site.url }}
      title:      {{ title}}
      build:      {{ buildInfo.hash }}
    ==============================
    -->
</head>
<!-- header layout end -->
