{#
https://medium.com/swlh/are-you-using-svg-favicons-yet-a-guide-for-modern-browsers-836a6aace3df

#}<!DOCTYPE html>
<html lang="en" data-theme="bumblebee">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta name="theme-color" content="#ffffff">

    <link rel="icon" href="/assets/logo.svg">
    <link rel="mask-icon" href="/assets/images/logo.svg" color="#000000">
    <link rel="manifest" href="manifest.json">

    <!-- tailwindcss style sheet -->
    <link rel="stylesheet" href="{{ '/assets/css/tw-style.css' | url }}">

    <!-- styling for code in pages -->
    <link rel="stylesheet" href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css">

    <!-- font awesome for glyphicons -->
    <script src="https://kit.fontawesome.com/b20f6cedee.js" crossorigin="anonymous"></script>

    <style>
      pre.language-yaml, pre.language-js {
        border: 2px solid #333;
      }
    </style>
    
    <title>{% if title %}{{title}} ▢ {% endif %}{{site.title}}</title>
</head>

