<!-- hero start -->

<div class="hero p-0 h-screen/2 min-h-min rounded-lg"
  style="background-image: url({{ bgImage }});">
    <div class="hero-content w-full p-0 gap-0 flex flex-col items-center">
        <div class="text-center pt-10 min-h-[480px] content-end">
            <div class="mb-8 p-8 bg-base-300/60 rounded-md shadow-md">
                <h1 class="text-4xl md:text-5xl xl:text-7xl font-semibold text-base-content">
                    I am the tea kettle.
                </h1>
            </div>
        </div>        
    </div>
</div>
<!-- hero end -->