<section class="w-full rounded p-2 mb-4 border-solid border-2 shadow-md">
  <div class="px-4 flex">
    <div class="flex-1">
      <h1 class="">{{ post.data.title }}</h1>
    </div>
    <div class="flex-1">
      <div class="text-sm text-end text-secondary">{{ post.data.date | postDate }}</div>    
    </div>

  </div>
  <div class="px-4">
    <article class="prose text-base-content"> {{ post.content | safe }}</article>
  </div>

    <div class="px-4 flex">
      <div class="text-xs flex-1 my-2 text-neutral-content">mood: {{ post.data.mood }}</div>
      <div class="text-xs flex flex-1 flex-row justify-end"> 
        <div class="m-2">tags:</div> 
        {% for eachTag in post.data.tags %}
        
          <a href="/tags/{{ eachTag }}">
            <div class="m-1 p-1 px-2 rounded-full bg-primary text-primary-content">{{ eachTag }}</div>
            </a>
          
        {% endfor %}
        
        </div>
    </div>  
</section>

