{% if totalPages > 1 %}
<section class="w-full rounded p-2 mb-4">
  <div class="px-4 flex">

  <div class="join">

{%- for pageEntry in pagination.pages %}{% if page.url == pagination.hrefs[ loop.index0 ] %}  
      <button class="join-item btn btn-sm btn-active">
        Page {{ loop.index }}
      </button>
      {% else %}
      <button class="join-item btn btn-sm">
        <a href="{{ pagination.hrefs[ loop.index0 ] }}">Page {{ loop.index }}</a>
      </button>
      {% endif %}{%- endfor %}

  </div>
  </div>
  </section>
{% endif %}