<ul class="nav flex flex-col overflow-hidden  text-right">
  
{% if source == "home" %}
  <div class="p-1 text-right font-semibold dark:text-fire-400">
    Home  &nbsp; <i class="fa-regular fa-folder-open"></i>
  </div>
{% else %}
<a href="/" class="nav-link hover:bg-lime-200 rounded-md">  
  <div class="nav-item p-1">
  Home  &nbsp;  <i class="fa-regular fa-folder"></i>
  </div>
</a>
{% endif %}

{% for section in site.sections %}
  {% if "/"+( section | slugify ) in page.url %}
  {# we're on this page #}
  <div class="p-1 text-right font-semibold dark:text-fire-400">
    {{ section }} &nbsp; <i class="fa-regular fa-folder-open"></i>
  </div>
{% else %}
  {# we're NOT on this page #}
  <a href="/{{ section | slugify }}" class="nav-link hover:bg-lime-200 rounded-md">
    <div class="nav-item p-1">
        {{ section }}  &nbsp; <i class="fa-regular fa-folder"></i>
    </div>
  </a>
{% endif %}
{% endfor %}

</ul>