<ul class="nav flex flex-col overflow-hidden">
  
<a href="#" class="nav-link hover:bg-lime-200 rounded-md">  
  <li class="nav-item p-1">
  Home
  </li>
</a>

<a href="#" class="nav-link hover:bg-lime-200 rounded-md">
  <li class="nav-item p-1">
    About
  </li>
</a>

<a href="#" class="nav-link hover:bg-lime-200 rounded-md">
  <li class="nav-item p-1">
    Projects
</li>
</a>

<a href="#" class="nav-link hover:bg-lime-200 rounded-md">
<li class="nav-item p-1">
Posts
</li>
</a>

<a href="#" class="nav-link hover:bg-lime-200 rounded-md">
<li class="nav-item p-1">
Contact
</li>
</a>

</ul>