---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Music2020Table from '../../components/MusicTable.astro';

const pageTitle = "Music List 2020";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Music List 2020</h1>
  <Music2020Table />
</BaseLayout>