{% include "header.njk" %}
<div class="flex flex-col h-screen justify-between">
  <!-- Header -->
<!--Waves Container-->
<div>

{{ '/src/assets/svg/wave.svg' | svgContents | safe }}

</div>
<!--Waves end-->
  <header>
    <div class="w-3/4 m-auto max-w-5xl border-l-1 border-r-1 border-base-300 bg-linear-to-b to-base-100/75 from-base-300">
{% include "navbar.njk" %}
    </div>
  </header>

  <!-- Main Content -->
  <main>
    <div class="w-3/4 m-auto max-w-5xl border-l-1 border-r-1 border-base-300 min-h-[85vh] bg-base-100/75">

      {% if hero %}
      <div class="relative rounded-lg overflow-hidden bg-base-200">
        <div class="absolute inset-0 flex items-center justify-center">
          <h1 class="text-4xl font-bold text-neutral px-8 bg-neutral-50/50 mx-8 rounded-sm p-2">{{ title }}</h1>
        </div>
      </div>
      {% else %}
      <h1 class="text-4xl font-bold px-4 pt-4">{{ title }}</h1>
      {% endif %}

      <div class="max-w-5xl mx-auto my-4">
        {% if date %}
        <p class="text-base-content mb-6">{{ date | readableDate }}</p>
        {% endif %}

        <div class="prose prose-lg mb-6 px-4 ">
          {{ content | safe }}
        </div>

        {% if tags %}
        <div class="flex flex-wrap gap-2">
          {% for tag in tags %}
          <a href="/tags/{{ tag | slugify }}" class="bg-base-200 text-base-content px-3 py-1 rounded-full text-sm">{{ tag }}</a>
          {% endfor %}
        </div>
        {% endif %}

      </div>
    </div>
  </main>

  <!-- Footer -->
  <div class="w-3/4 max-w-5xl mx-auto p-6 border-r-1 border-l-1 bg-linear-to-t border-base-300 to-base-100 from-base-300">
  {% include "footer.njk" %}
  </div>

</div>


        
</body>
</html>