---
layout: default
---

<section class="w-full rounded p-2 mb-4 border-solid border-2 shadow-md">

  <div class="px-4">
    <article class="prose">

{{ content | safe }}

    </article>
  </div>
  
</section>