---
// https://www.cyishere.dev/blog/astro-active-nav-item
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split("/")[1]; // remove the first "/"
---

<div class="nav flex flex-col overflow-hidden sidebar shadow-md bg-base-300 opacity-[.81] rounded-md pb-2">
    
    <div class="flex-auto pr-2 text-right mr-2">
        <a class={currentPath === "" ? "text-sky-400" : ""} href="/">Home</a>
    </div>

    <div class="flex-auto pr-2 text-right mr-2">
        <a class={currentPath === "about" ? "text-sky-400" : ""} href="/about/">About</a>
    </div>
    
    <div class="flex-auto pr-2 text-right mr-2">
        <a class={currentPath === "posts" ? "text-sky-400" : ""} href="/posts/">Posts</a>
    </div>

    <div class="flex-auto pr-2 text-right mr-2">
        <a class={currentPath === "tags" ? "text-sky-400" : ""} href="/tags/">Tags</a>
    </div>

    <div class="flex-auto pr-2 text-right mr-2">
        <a class={currentPath === "music" ? "text-sky-400" : ""} href="/music/">Music</a>