/* src/assets/css/tailwind.css*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a:link {
        @apply text-sky-400 after:content-['_↗'];
    }

    a:visited {
        @apply text-purple-500;
    }

    a:hover {
        @apply decoration-sky-500 text-sky-300;
    }

    p {
        @apply pb-2;
    }
}