---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Navbar from "@components/widgets/Navigation.astro";
import ThemeChange from "@components/widgets/ThemeChange.astro";

const { pageTitle } = Astro.props;

// https://github.com/saadeghi/daisy-blog/blob/master/src/components/layouts/page.astro

---
<!DOCTYPE html>
<html lang="en">
  <Header pageTitle={pageTitle}/>
    
 <body>
<div class="flex flex-col h-screen justify-between">
  <header>
    <div class="w-3/4 m-auto max-w-5xl">
        <Navbar pageTitle="Jalapeno">
          <ThemeChange />
        </Navbar>
    </div>
  </header>

  <main>
    <div class="w-3/4 m-auto max-w-5xl">
      <slot />
      </div>
  </main>

    <footer>
      <Footer />
    </footer>

</div>
        
</body>
</html>