---
import Header from '@partials/Header.astro';
import Footer from '@partials/Footer.astro';
import Navbar from "@partials/Navigation.astro";
import ThemeChange from "@partials/ThemeChange.astro";

interface Props {
  pageTitle: string;
  description: string;
}

const { pageTitle, description } = Astro.props;
---
<Header pageTitle={pageTitle} description={description} />
<!-- HomeLayout.astro -->
<body>
<div class="flex flex-col h-screen justify-between">
  <!-- Header -->
  <header>
    <div class="w-3/4 m-auto max-w-5xl">
        <Navbar pageTitle="Jalapeno">
          <ThemeChange />
        </Navbar>
    </div>
  </header>

  <!-- Main Content -->
  <main>
    <div class="w-3/4 max-w-5xl mx-auto">
      <slot />
      </div>
  </main>

  <!-- Footer -->
    <footer>
      <Footer />
    </footer>

</div>
        
</body>
</html>