---
const { frontmatter} = Astro.props;
import BaseLayout from '@layouts/BaseLayout.astro'
const [date, time] = new Date (frontmatter.pubDate).toISOString().split('T');
const pageTitle = frontmatter.title;
---
<BaseLayout pageTitle={pageTitle}>

<div class="prose">
    <slot />
    </div>

<div>written by {frontmatter.author}</div> on {date}.

</BaseLayout>
