---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = "About Me";
const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};
    const happy = true;
    const finished = false;
    const goal = 3;


const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---
<BaseLayout pageTitle={pageTitle}>

        <p>
            This is the about page.
            <ul>
                <li>First Name: {identity.firstName}</li>
                <li>Country: {identity.country}</li>
                <li>Occupation: {identity.occupation}</li>
                <li>Hobbies: {identity.hobbies.join(", ")}</li>
            </ul>
        </p>

        {happy && <p>I am happy to be learning Astro!</p>}

        {finished && <p>I finished this tutorial!</p>}

        {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}

</BaseLayout>