---
import '../assets/style/tailwind.css';
---
<body>

    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>

    <h1>About</h1>
    <div class="prose">
        <p>
            This is the about page.
        </p>

</body>
