---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@widgets/Hero.astro";
const pageTitle = "The Home Page";
---

<BaseLayout pageTitle={pageTitle}>
		<div class="w-full prose">
			<Hero />
			<p>
				Welcome to Astro! This is a simple page built with Astro and Tailwind CSS.
			</p>
		</div>
</BaseLayout>