---
import CustomStyles from '../components/CustomStyles.astro';
import '../assets/style/tailwind.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<CustomStyles />
  </head>
	<body>
		<h1>Astro</h1>
		<div class="prose">
			<p>
				Welcome to Astro! This is a simple page built with Astro and Tailwind CSS.
			</p>
	</body>
</html>
