---
import BaseLayout from '../layouts/BaseLayout.astro';
import MusicTable from '../components/MusicTable.astro';

const pageTitle = "Music List";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Music List</h1>
  <MusicTable />
</BaseLayout>