---
import { getCollection } from "astro:content";
import slugify from 'slugify';

import BaseLayout from '@layouts/BaseLayout.astro';
import BlogPost from '@partials/BlogPost.astro';
//import BlogCard from "@partials/BlogCard.astro";


const pageTitle = "Blog Posts";
const allPosts = await Astro.glob('@content/posts/*.{md,mdx}');

//const allPosts = await getCollection("posts");
const maxCardsToShow = 6;
const displayedPosts = allPosts.slice(0, maxCardsToShow);

---

<BaseLayout pageTitle={pageTitle}>
  <h1>Welcome to My Blog</h1>
  <ul>
    {allPosts.map((post) => (
      <BlogPost url=`${(slugify(post.frontmatter.title, { lower: true }))}` title={post.frontmatter.title} />
      //<BlogCard posts={displayedPosts} maxCardsToShow={maxCardsToShow} />

    ))}
  </ul>
</BaseLayout>