---
const year = new Date().getFullYear();
import { getGitVersion } from '/src/utils/getGitVersion';

const gitVersion = getGitVersion();
import { Icon } from 'astro-icon/components';
---

<!-- Footer -->
<footer class="footer footer-center p-4 bg-base-300 p-10">
  <div class="grid gap-4 grid-cols-1 md:grid-cols-3 items-center">
    <div class="text-center md:text-left">
      <p class="text-xs text-base-content/70">
        &copy; <span id="footer-year">{year}</span> All rights reserved.
      </p>
    </div>
    <div class="text-center">
      <p class="text-xs text-base-content/70 flex justify-center items-center">
        Created with
        <Icon name="astro" alt="Astro Logo" class="bg-base-200 text-2xl mx-2" />
        <a href="https://astro.build">Astro</a>
      </p>
    </div>
    <div class="text-center md:text-right">
      <p class="text-xs text-base-content/70">
         Source Code Version: 
        <a href="https://github.com/MadJalapeno/astro-jalapeno.co.uk/commit/{gitVersion}"> 
          {gitVersion}
        </a>
      </p>
    </div>
  </div>
</footer>

<script>
  document.getElementById('footer-year').innerText = new Date().getFullYear();
</script>

<!-- Footer end -->