---
import { loadYaml } from '@utils/loadYaml';
import BioContent from '@partials/BioContent.astro'; // Ensure the correct import path


const data = loadYaml('src/data/allmusic.yml');

const musicData = Array.isArray(data) ? data : [];

// Sort the data by the first column (Full Name)
musicData.sort((a, b) => a.full_name.localeCompare(b.full_name));

---

<div class="overflow-x-auto">
  <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
    <thead>
      <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
        <th class="py-3 px-6 text-left">Full Name</th>
        <th class="py-3 px-6 text-left">Title</th>
        <th class="py-3 px-6 text-left">Tag</th>
        <th class="py-3 px-6 text-left">Bio</th>
      </tr>
    </thead>
    <tbody class="text-gray-600 text-sm font-light">
      {musicData.length > 0 ? (
        musicData.map((item) => (
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="py-3 px-6 text-left whitespace-nowrap">
              <a href={`/music/${item.source}/`} class="text-blue-500 hover:underline">{item.full_name}</a>
            </td>
            <td class="py-3 px-6 text-left">{item.title}</td>
            <td class="py-3 px-6 text-left">{item.tag}</td>
            <td class="py-3 px-6 text-left"><BioContent content={item.bio || ''} /></td>
          </tr>
        ))
      ) : (
        <tr>
          <td colspan="4" class="py-3 px-6 text-center">No data available</td>
        </tr>
      )}
    </tbody>
  </table>
</div>