---
const year = new Date().getFullYear();
import { getGitVersion } from '/src/utils/getGitVersion';

const gitVersion = getGitVersion();

---

<!-- Footer -->
<footer class="bg-black text-white text-center py-4">
    <div class="container mx-auto">
        <p>&copy; <span id="footer-year">{year}</span> All rights reserved.</p>
        <p>Git Version: {gitVersion}</p>

    </div>
 </footer>

 <script>
    document.getElementById('footer-year').innerText = new Date().getFullYear();
</script>
<!-- Footer end -->