---
const { pageTitle } = Astro.props;
import '../assets/style/tailwind.css';

---
<!-- header start -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/assets/images/logo.svg">
    <link rel="mask-icon" href="/assets/images/logo.svg" color="#000000">
    <title>{pageTitle}</title>

    <!-- particle system -->
    <script src="https://cdn.jsdelivr.net/npm/@tsparticles/preset-links@3/tsparticles.preset.links.min.js"></script>

    <style>
        .gradbody {
          background: linear-gradient(to bottom, #c1c2c2 0%, #d9e8e3 100%);
        }
  
        #tsparticles {
          position: absolute;
          margin: 0;
          padding: 0;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
        }
  
        .particles {
          position: relative;
        }
  
      </style>

</head>
<!-- header end -->