---
import { Image } from "astro:assets";
import hero from "@assets/images/4bf0faad-cb9a-4252-a2fa-dbc12447446b_rw_1920.jpg";

const bgImage = `url(${hero.src})`;
---
<!-- hero start -->

<style define:vars={{ bgImage }}>
    .bghero {
        background-image: var(--bgImage), linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5));
        background-blend-mode: overlay;
    }
</style>    
<div class="hero p-0 bghero h-screen/2 min-h-min flex items-end">
    <div class="hero-content w-full p-0 gap-0 flex flex-col items-center">
        <div class="text-center pt-10 min-h-[480px] content-end">
            <div class="mb-8 p-8 bg-neutral-200/50 rounded-md shadow-md">
                <div class="badge badge-outline badge-lg">Hello!</div>
                <h1 class="text-4xl md:text-5xl xl:text-7xl font-semibold">
                    I'm a tea kettle.
                </h1>
            </div>
        </div>        
    </div>
</div>

<div
class="w-full bg-base-200 py-20 flex flex-col justify-center items-center z-40"
>
<!-- hero end -->