---
import { loadCsv } from '@utils/loadCsv';

const data = loadCsv('@data/csv/2020.csv');

console.log(data); // Add this line to log the imported data

const musicData = Array.isArray(data) ? data : [];
---

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>ISRC</th>
    </tr>
  </thead>
  <tbody>
    {musicData.length > 0 ? (
      musicData.map((item) => (
        <tr>
          <td>{item.title}</td>
          <td>{item.artist}</td>
          <td>{item.album}</td>
          <td>{item.isrc}</td>
        </tr>
      ))
    ) : (
      <tr>
        <td colspan="4">No data available</td>
      </tr>
    )}
  </tbody>
</table>