---
layout: default
title: Home

pagination:
  data: collections.front
  size: 5
  alias: posts
source: home
---

{%- for post in posts -%}
  {% include "homeplate.njk" %}
{%- endfor -%}

{%- set totalPages = pagination.pages|length -%}
{%- set currentPage = pagination.pageNumber + 1 -%}
{%- set previousHref = pagination.href.previous -%}
{%- set nextHref = pagination.href.next -%}

<!--

totalPages: {{ totalPages }}
currentPage: {{ currentPage }}
previousHref: {{ previousHref }}
nextHref: {{ nextHref }}

-->

{#% include "pagination.njk" %#}