---
layout: default.njk
title: "Jalapeno"
bgImage: "/assets/images/4bf0faad-cb9a-4252-a2fa-dbc12447446b_rw_1920.jpg"
---

		<div class="w-full">
			{% include "hero.njk" %}

      {% include "recentPosts.njk" %}
		</div>