---
layout: page.njk
title: "Music"
---
<h2>Music Playlists</h2>

<p>I love listening to music, and use <a href="https://roon.app/en/">Roon</a> with Qobuz and Tidal for listening.</p>
    
<p>Here are some of my playlists.</p>

<p>Playlists are exported directly from Roon, and can be imported into <a href="https://soundiiz.com/">Soundiiz</a>. </p>
<p>Enjoy.</p>

<div class="grid grid-cols-2 gap-4 plain">
{% for list in allmusic %}

  <div class="card">
    <div class="card-body bg-base-200 shadow-sm border border-base-300 hover:bg-base-300 m-4 rounded-sm">
      <div class="flex justify-between">
        <div>
          <a href="/music/{{ list.source }}/" >      
            <h2 class="card-title">{{ list.full_name }}</h2>
            <p>{{list.tag}}</p>
          </a>
        </div>

        <div>
          <a href="/csv/{{ list.source }}.csv">
            {{ '/src/assets/svg/fa-csv.svg' | svgContents("fill-primary w-6") | safe }}
          </a> 
        </div>
      </div>
    </div>
  </div>


{% endfor %}

</div>