---
layout: default
title: Posts

pagination:
  data: collections.front
  size: 3
  alias: posts
permalink: "/posts/{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber + 1 }}{% endif %}/index.html"
---

{%- for post in posts -%}
  {% include "homeplate.njk" %}
{%- endfor -%}

{%- set totalPages = pagination.pages|length -%}
{%- set currentPage = pagination.pageNumber + 1 -%}
{%- set previousHref = pagination.href.previous -%}
{%- set nextHref = pagination.href.next -%}

<!--

totalPages: {{ totalPages }}
currentPage: {{ currentPage }}
previousHref: {{ previousHref }}
nextHref: {{ nextHref }}

-->

{#% include "pagination.njk" %#}