---js
const eleventyNavigation = {
	key: "Home",
	order: 1,
};

const layout = "page.njk";
const numberOfLatestPostsToShow = 5;
const title = "Latest Posts";
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

<!--
<div class="pt-4">
  Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}
</div>
-->

{% set hero = true %}
{% set heroTitle = "Latest Posts" %}
{% set heroSubtitle = "A collection of my latest posts." %}

{% set pageTitle = title %}

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% set oddeven = true %}

<div class=" grid grid-cols-1 gap-4"> 
  {%- for post in postslist | reverse %}
      {% include "postCard.njk" %}
  {% endfor %}
</div>

<div class="my-4">
  <h3 class="text-xl">Older Posts</h3>
{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
  <p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/archive/" class="underline decoration-primary hover:decoration-double">the archive</a>.</p>
{% endif %}
</div>