---
title: Tag List
layout: page.njk
permalink: /tags/

---
    {%- set excludedTags = ["all", "postsDir", "pagesDir", "posts"] %}
    {%- set sortedTags = collections | dictsort %}


<!-- tags start -->
  <div class="">
    {%- for tag, posts in sortedTags %}
    {% if tag not in excludedTags %}
    <div class="indicator mx-4">
      <span class="indicator-item badge badge-primary badge-sm">{{ posts.length }}</span> 
      <a href="{{ tag | url | slugify }}" class="">
        <div class="border rounded-lg py-2 px-4 border-primary bg-base-200 hover:bg-base-300">{{ tag }}</div>
      </a>
    </div>
    {% endif %}
    {%- endfor %}
  </div>
<!-- tags end -->