---
const { frontmatter} = Astro.props;
import BaseLayout from '../layouts/BaseLayout.astro'
const [date, time] = new Date (frontmatter.pubDate).toISOString().split('T');
---
<BaseLayout>

<div class="text-red-500">this is MarkdownPostLayout.astro</div>

<div class="prose">
    <slot />
    </div>

<div>written by {frontmatter.author}</div> on {date}.

</BaseLayout>
