---
import BaseLayout from '@layouts/BaseLayout.astro';
import MusicTable from '@partials/MusicTableAll.astro';

const pageTitle = "Music List";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Music Playlists</h1>
  <MusicTable />
</BaseLayout>